body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #161616;
    color: #fff;
    font-family: "sans-serif", Arial, sans-serif;
}

@font-face {
    font-family: "Inter-Bold";
    src: url("../fonts/static/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Regular";
    src: url("../fonts/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("../fonts/static/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Variant";
    src: url("../fonts/Inter-Variant.ttf") format("truetype");
}

.container {
    padding: 4rem;
    border-radius: 1rem;
    text-align: center;
    background-color: #232323;
}

.profile img {
    width: 8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.profile h3 {
    margin: 1rem 0 .5rem 0;
    font-size: 1.5rem;
}

.profile .location {
    margin: 0;
    font-size: .875rem;
    color: #B7D35D;
    font-weight: bold;
    margin-bottom: 2rem;
}

.profile .bio {
    font-size: .775rem;
    margin-bottom: 1.2rem;
}

.links a {
    display: block;
    padding: .8rem 1rem;
    margin: .5rem 0;
    border-radius: .5rem;
    background: #353535;
    color: #ffffff;
    text-decoration: none;
    transition: .2s;
}

.links a:hover {
    background: #636363;
}

@media (max-width: 480px) {

    body {
        padding: 1rem;
    }

    .container {
        padding: 2rem;
        width: 100%;
        max-width: 350px;
    }

    .profile img {
        width: 6rem; /* menor no mobile */
    }

    .profile h3 {
        font-size: 1.25rem;
    }

    .profile .location {
        font-size: .75rem;
        margin-bottom: 1.5rem;
    }

    .profile .bio {
        font-size: .7rem;
        padding: 0 1rem;
    }

    .links a {
        padding: .7rem;
        font-size: .875rem;
    }
}